<div class="admin container">

  <h2>Admin</h2>

  <div class="admin-card">
    <% @companies.each do |company| %>
      <h3><%= company.user.first_name %> <%= company.user.last_name %></h3>
      <p><%= company.user.email %></p>
      <p><%= company.user.phone_number %></p>
      <p>Company: <%= company.company_name %></p>
      <p>Bank: <%= company.bank %></p>
      <p>Accounting: <%= company.accounting_software %></p>
      <p>Payment: <%= company.payment %></p>
    <% end %>
  </div>

</div>
