<%= render "layouts/navbar" %>
<div class="first-screen">
  <div class="header">
    <h1><%= t("header_line") %></h1>
    <p><%= t("small_header") %></p>
    <p class="btn-check"><%= link_to t("check"), new_user_registration_path %></p>
    <p id="powered"><%= t("powered")%><a href="https://area42.tech/"><%= image_tag "partner3.png" %></a></p>
  </div>
  <%= image_tag "homeimage.png", class: "home-img" %>
</div>

<div class="container">

  <div class="screen-2">
    <h2 class="text-center title"><%= t("why") %></h2>
    <p class="text-center why"><%= t("why_text1") %></p>
    <p class="text-center why"><%= t("why_text2") %></p>
    <p class="text-center why" ><strong><%= t("why_text3") %></strong></p>
    <div class="boxes">
      <%= image_tag "shape.png", class: "background1" %>
      <div class="box">
        <div>
          <i class="fas fa-dollar-sign"></i>
          <div class="text">
            <div class ="new">
              <h3><%= t("box_seven") %></h3>
              <i id="new"><%= image_tag "new.png" %></i>
            </div>
            <p><%= t("text_seven") %></p>
          </div>
        </div>
      </div>

      <div class="box">
        <div>
          <i class="fas fa-database"></i>
          <div class="text">
            <h3><%= t("box_one") %></h3>
            <p><%= t("text_one") %></p>
          </div>
        </div>
      </div>

      <div class="box">
        <div>
          <i class="fas fa-lock"></i>
          <div class="text">
            <h3><%= t("box_two") %></h3>
            <p><%= t("text_two") %></p>
          </div>
        </div>
      </div>

      <div class="box">
        <div>
          <i class="fas fa-street-view"></i>
          <div class="text">
            <h3><%= t("box_three") %></h3>
            <p><%= t("text_three") %></p>
          </div>
        </div>
      </div>


      <div class="box">
        <div>
          <i class="fas fa-link"></i>
          <div class="text">
            <h3><%= t("box_four") %></h3>
            <p><%= t("text_four") %></p>
          </div>
        </div>
      </div>

      <div class="box">
        <div>
          <i class="fas fa-clock"></i>
          <div class="text">
            <h3><%= t("box_five") %></h3>
            <p><%= t("text_five") %></p>
          </div>
        </div>
      </div>

      <div class="box">
        <div>
          <i class="fas fa-share-alt-square"></i>
          <div class="text">
            <h3><%= t("box_six") %></h3>
            <p><%= t("text_six") %></p>
          </div>
        </div>
      </div>

    </div>
<p class="btn-check m-auto" id="width-400"><%= link_to t("start"), new_user_registration_path %></p>
  </div>

  <h2 class="text-center title"><%= t("support") %></h2>
  <div class="logos">
    <a href="https://www.credendo.com/" target="_blank"><%= image_tag "credendo.png", class: "logo-partner" %></a>
    <a href="https://area42.tech/" target="_blank"><%= image_tag "partner3.png", class: "logo-partner" %></a>
  </div>

</div>


<%= render "layouts/footer" %>
