<%= render "layouts/navbar" %>
<div class="first-screen">
  <div class="header">
    <h1><%= t("header_line") %></h1>
    <p><%= t("small_header") %></p>
    <p class="btn-check"><%= link_to t("check"), new_user_registration_path %></p>
    <p id="powered"><%= t("powered")%><a href="https://www.credendo.com/fr"><%= image_tag "partner2.jpg" %></a></p>
  </div>
  <%= image_tag "homeimage.png", class: "home-img" %>
</div>

<div class="container">

  <h2 class="text-center"><%= t("scoring") %></h2>

  <div class="cards">
    <div class="card">
      <%= image_tag "one.png", class: "number" %>
      <p><%= t("first") %></p>
    </div>
    <div class="card">
      <%= image_tag "two.png", class: "number" %>
      <p><%= t("second") %></p>
    </div>
    <div class="card">
      <%= image_tag "three.png", class: "number" %>
      <p><%= t("third") %></p>
    </div>
  </div>

  <p class="btn-check m-auto" id="width-490"><%= link_to t("start"), new_user_registration_path %></p>

  <div class="screen-2">
    <h2 class="text-center title"><%= t("why") %></h2>
    <p class="text-center why"><%= t("why_text") %></p>
    <div class="boxes">
      <%= image_tag "bg1.png", class: "background1" %>
      <div class="box">
        <div>
          <i class="fas fa-database"></i>
          <div class="text">
            <h3><%= t("box_one") %></h3>
            <p><%= t("text_one") %></p>
          </div>
        </div>
      </div>

      <div class="box">
        <div>
          <i class="fas fa-lock"></i>
          <div class="text">
            <h3><%= t("box_two") %></h3>
            <p><%= t("text_two") %></p>
          </div>
        </div>
      </div>

      <div class="box">
        <div>
          <i class="fas fa-clock"></i>
          <div class="text">
            <h3><%= t("box_six") %></h3>
            <p><%= t("text_six") %></p>
          </div>
        </div>
      </div>


      <div class="box">
        <div>
          <i class="fas fa-chart-bar"></i>
          <div class="text">
            <h3><%= t("box_four") %></h3>
            <p><%= t("text_four") %></p>
          </div>
        </div>
      </div>

      <div class="box">
        <div>
          <i class="fas fa-concierge-bell"></i>
          <div class="text">
            <h3><%= t("box_five") %></h3>
            <p><%= t("text_five") %></p>
          </div>
        </div>
      </div>

      <div class="box">
        <div>
          <i class="fas fa-star"></i>
          <div class="text">
            <h3><%= t("box_three") %></h3>
            <p><%= t("text_three") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center title"><%= t("support") %></h2>
  <p class="text-center why"><%= t("partners") %></p>
  <div class="logos">
    <a href="https://ec.europa.eu" target="_blank"><%= image_tag "partner1.jpg", class: "logo-partner" %></a>
    <a href="https://www.credendo.com/" target="_blank"><%= image_tag "partner2.jpg", class: "logo-partner" %></a>
    <a href="https://area42.tech/" target="_blank"><%= image_tag "partner3.png", class: "logo-partner" %></a>
  </div>

</div>


<%= render "layouts/footer" %>
