<div class="container">
  <div class="container-top-form">
    <h2><%= t("form_title") %></h2>
  </div>
  <%= image_tag "step2.png", class: "stepbar" %>
  <div class="form">

    <%= simple_form_for @company do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :company_name, label: false, placeholder: t("company"), input_html: { class: "input-form" } %>
        <%= f.input :accounting_software, prompt: t("accounting"), collection: ["Intuit Quickbooks", "Sage", "Xero", "Cegid", "Myob", "Other"], label: false, input_html: { class: "input-form" } %>
        <%= f.input :bank, label: false , collection: ["BNP", "Crédit Agricole", "Société Générale", "HSBC", "Monzo", "N26", "Revolut", "Shine", "Starling", "Tide", "Qonto", "Other"], prompt: t("bank"), label: false, input_html: { class: "input-form" }%>
        <%= f.input :payment, collection: ["iZettle", "Mastercard", "Sumup", "Visa", "Worldpay", "Other"], prompt: t("payment"), label: false, input_html: { class: "input-form" } %>
        <div class="d-flex privacy-link">
          <%= link_to t("privacy"), privacy_path %>
          <%= f.check_box :privacy, required: true, target: "_blank" %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit t("next"), class: "btn-check m-auto" %>
        <% end %>
      </div>
  </div>
</div>
