<div class="container">
  <div class="container-top-form">
    <h2><%= t("form_title") %></h2>
  </div>
  <%= image_tag "step2.png", class: "stepbar" %>
  <div class="form">

    <%= simple_form_for @company do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :company_name, label: false, placeholder: t("company"), input_html: { class: "input-form", style: "margin-top: 30px;" } %>
        <p><%= t("accounting") %></p>
        <div class="checkboxes">
          <% ["Quickbooks", "Sage", "Xero", "Cegid", "Myob"].each do |object| %>
            <p class="check-button"><%= object %><input type="checkbox" name="accounting_software[]" value="<%= object %>" class="check_box"></p>
          <% end %>
        </div>
        <p><%= t("bank") %></p>
        <div class="checkboxes">
          <% ["BNP", "Crédit Agricole", "Société Générale", "HSBC", "Monzo", "N26", "Revolut", "Shine", "Starling", "Tide", "Qonto"].each do |object| %>
            <p class="check-button"><%= object %><input type="checkbox" name="bank[]" value="<%= object %>" class="check_box"></p>
          <% end %>
        </div>
        <p><%= t("payment") %></p>
        <div class="checkboxes">
          <% ["iZettle", "Mastercard", "Sumup", "Visa", "Worldpay"].each do |object| %>
            <p class="check-button"><%= object %><input type="checkbox" name="payment[]" value="<%= object %>" class="check_box"></p>
          <% end %>
        </div>
        <p><%= t("other") %></p>
        <div class="checkboxes">
          <% ["eCommerce", "Supply chain", "Logistic", "Inventory", "Loyalty", "Tax"].each do |object| %>
            <p class="check-button"><%= object %><input type="checkbox" name="other_software[]" value="<%= object %>" class="check_box"></p>
          <% end %>
        </div>
        <div class="d-flex privacy-link">
          <%= link_to t("privacy"), privacy_path %>
          <%= f.check_box :privacy, required: true, target: "_blank" %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit t("next"), class: "btn-check m-auto" %>
        <% end %>
      </div>
  </div>
</div>


<script>
  const buttons = document.querySelectorAll(".check-button")
  buttons.forEach((button) => {
    button.addEventListener("click", (e) => {
      if (button.classList.value.includes("checked")) {
        button.classList.remove("checked");
        button.querySelector(".check_box").checked = false;
      } else {
        button.classList.add("checked");
        button.querySelector(".check_box").checked = true;
      }
    })
  })
</script>
