<div class="container">
  <div class="container-top-form">
  </div>
    <%= image_tag "step2.png", class: "stepbar" %>
  <div class="form">

    <%= simple_form_for @company do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :company_name, label: false, required: true, placeholder: t("company"), input_html: { class: "input-form", style: "margin-top: 30px; margin-bottom: 40px" } %>
        <p><%= t("doc-digitalisation") %></p>
        <div class="checkboxesNew">
        <% [t("invoices"), t("purchase_orders"), t("contracts"), t("payments")].each do |object| %>
          <p class="check-button"><%= object %><input type="checkbox" name="other_software[]" value="<%= object %>" class="check_box"></p>
        <% end %>
        </div>
        <%= f.input :others, label: false, placeholder: t("others"), input_html: { class: "input-form", style: "margin-top: 30px; margin-bottom: 40px" } %>
        <p><%= t("accounting") %></p>
        <div class="checkboxes">
          <% ["Quickbooks", "Sage", "Xero", "Cegid", "Myob", t("others")].each do |object| %>
            <p class="check-button"><%= object %><input type="checkbox" name="accounting_software[]" value="<%= object %>" class="check_box"></p>
          <% end %>
        </div>
        <p><%= t("bank") %></p>
        <div class="checkboxes">
          <% ["BNP", "Crédit Agricole", "Société Générale", "HSBC", "Monzo", "N26", "Revolut", "Shine", "Starling", "Tide", "Qonto", t("others")].each do |object| %>
            <p class="check-button"><%= object %><input type="checkbox" name="bank[]" value="<%= object %>" class="check_box"></p>
          <% end %>
        </div>
        <p><%= t("payment") %></p>
        <div class="checkboxes">
          <% ["iZettle", "Mastercard", "Sumup", "Visa", "Worldpay", t("others")].each do |object| %>
            <p class="check-button"><%= object %><input type="checkbox" name="payment[]" value="<%= object %>" class="check_box"></p>
          <% end %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit t("next"), class: "btn-check m-auto" %>
        <% end %>
      </div>
  </div>
</div>


<script>
  const buttons = document.querySelectorAll(".check-button")
  buttons.forEach((button) => {
    button.addEventListener("click", (e) => {
      if (button.classList.value.includes("checked")) {
        button.classList.remove("checked");
        button.querySelector(".check_box").checked = false;
      } else {
        button.classList.add("checked");
        button.querySelector(".check_box").checked = true;
      }
    })
  })
</script>
