<nav class="navbar">
  <%= link_to "#" do %>
  <%= image_tag "ichiba42logo.png", class: "logo" %>
  <% end %>
  <div>
    <% if I18n.locale == :en %>
      <%= link_to 'EN', root_path(locale: :en), class: "blue" %>
      <%= link_to 'FR', root_path(locale: :fr) %>
    <% else %>
      <%= link_to 'EN', root_path(locale: :en) %>
      <%= link_to 'FR', root_path(locale: :fr), class: "blue" %>
    <% end %>
  </div>
</nav>

<script>
  const navbar = document.querySelector('.navbar');
  if (navbar) {
    window.addEventListener('scroll', () => {
      if (window.scrollY >= 100) {
        navbar.classList.add('navbar-effect-home');
      } else {
        navbar.classList.remove('navbar-effect-home');
      }
    });
  }
</script>
